.links line {
    stroke: #fff;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.nodes rect {
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    font-family: sans-serif;
    font-size: 10px;
}

.svg {
    width: auto;
    height: auto;
}

#tooltip,
#cooltip {
    height: 280px;
    width: 250px;
    border-radius: 10px;
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #312450;
}

/* CSS for the filter */
.filter select{
    background-color: blue;
}

#selection {
    display: inline;
    font-size: 12px;
    list-style-type: none;
}

#selection li{
    display: inline;
    cursor: pointer;
}

h5 {
    display: inline;
}