#info {
    padding-top: 2em;
    position: absolute;
    cursor: pointer;
}

#selectNumber {
    color: #000000;
}


/* background for modal */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: rgba(102, 192, 244, 0.9);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px 50px;
    width: 80%;
    /* Could be more or less, depending on screen size */
    font-size: 15px;
}


/* The Close Button */

.close {
    text-align: right;
    padding-right: 1em;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

#intro {
    margin-top: -50px;
    margin-bottom: 50px;
}

line.link {
    stroke: #fff;
    stroke-opacity: 0.6;
}

.node {
    stroke: #fff;
    stroke-width: 2px;
}

.category {
    stroke: #fff;
    stroke-width: 2px;
}

.user {
    stroke: #fff;
    stroke-width: 2px;
}

text {
    font-family: sans-serif;
    font-size: 10px;
}

.svg {
    width: auto;
    height: auto;
}

#tooltip,
#cooltip {
    margin-top: -180px;
    height: 400px;
    width: 250px;
    border-radius: 10px;
    font-size: 10px;
    padding: 0;
    color: black;
    background-color: #66c0f4;
}

#tooltip_hover {
    height: 22px;
    border-radius: 10px;
    font-size: 10px;
    margin: 0;
    padding: 0 10px 0 10px;
    color: black;
    background-color: #66c0f4;
}

#tooltip p,
#cooltip p {
    margin-left: 10px;
}

#tooltip b,
#cooltip b {
    font-size: 14px;
    color: black;
}

.buy_link {
    font-size: 15px;
    color: white;
}

.buy_button {
    background: black;
    opacity: 1;
}


/* CSS for the filter */

input {
    z-index: 1;
}

#legend {
    margin-top: -170px;
    width: 350px;
    height: 720px;
}

#viz {
    width: 100%;
    height: 720px;
}

#viz-wrap {
    display: flex;
    padding: 0.5em;
    margin: 0.5em 0;
}

#fetch-steam-id {
    margin-top: 1em;
}

#filter-wrap {
    display: flex;
    flex-grow: 5;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255, 0.05);
    border-radius: 1em;
    padding: 1em;
}

#filter select {
    background-color: #ffffff;
    color: #292929;
    width: 70%;
    height: 25px;
    font-size: 12px;
}

#selection {
    display: inline;
    font-size: 15px;
    list-style-type: none;
    color: white;
    background-color: #66c0f4;
    padding: 0.2em 1em;
    border-radius: 10px;
}

#selection li {
    display: inline;
    cursor: pointer;
    /*border: 1px solid #dadada;*/
    margin-left: 5px;
}

#filter h5 {
    padding-top: 1em;
    font-size: 12px;
}

#fetch-steam-id h5,
input {
    display: inline;
    font-size: 12px;
}

p {
    font-style: Helvetica, Arial, Sans-serif;
    color: white;
}


/* Style of about us page */

#flex-team {
    display: flex;
    flex-wrap: wrap;
}

.team-member {
    margin: 0 0.2em;
    width: 200px;
    /* images are rn 200px width */
}

.team-member p {
    font-size: 14px;
    text-justify: inter-word;
}

.team-member img {
    object-fit: cover;
}


/***** FILTER SLIDER STYLING *****/

input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 6px 0;
    width: 70%;
    background-color: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #dadada;
    border: 0.1px solid #a1a1a1;
    border-radius: 25px;
    width: 100%;
    height: 3px;
    cursor: pointer;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}

input[type=range]::-webkit-slider-thumb {
    margin-top: 0px;
    height: 15px;
    width: 15px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #dadada;
}

input[type=range]::-moz-range-track {
    background: #dadada;
    border: 0.1px solid #a1a1a1;
    border-radius: 25px;
    width: 100%;
    height: 3px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #f5ffff;
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 7px 0;
    color: transparent;
    width: 100%;
    height: 3px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #d0d0d0;
    border: 0.1px solid #a1a1a1;
    border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
    background: #dadada;
    border: 0.1px solid #a1a1a1;
    border-radius: 50px;
}

input[type=range]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #f5ffff;
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: #dadada;
}

input[type=range]:focus::-ms-fill-upper {
    background: #e4e4e4;
}

.bi-exclamation-circle-fill {
    position: absolute;
    top: 100px;
    right: 100px;
}

.selectize-control {
    height: 35px;
    white-space: nowrap;
    width: 140px;
    margin-right: 40px;
}

.selectize-dropdown {
    width: auto !important;
}

.customButton {
    margin: auto;
}

#steamid-info {
    z-index: 200;
}

#sidebar {
    z-index: 100 !important;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }